header.header
    .header__column
        a(href=routes.home)
            h1.header__home #{siteName}
    .header__column
        ul
            li
                a(href=`/videos${routes.originals}`)
                    h3 Originals
            li
                a(href=`/videos${routes.trailers}`)
                    h3 Trailers
    .headr__column
        ul
            li
                form(action=`/videos${routes.search}` method="get")
                    input(type="text", placeholder="비디오 검색...", name="video")
            li
                select(name="links", onchange="window.location.href=this.value;")
                    option(value="#", selected) User
                    option(value=`/users${routes.userProfile(user.id)}`) Profile
                    option(value=routes.logout) Logout